@model IEnumerable<AttendanceRecord>

@foreach(var item in Model)
{
 <!-- Edit Attendance Record modal-->
<div class="modal fade" id="editARModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="editARModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editARModalLabel">Edit</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="AttendanceRecord" asp-action="Edit" asp-route-id="@item.Id" method="post">
            <div class="modal-body">
                <div class="mb-0">
                    <label class="mb-1 small text-muted" for="formTitle">Attendance Record</label>
                    <input type="text" placeholder="Enter new Title..." id="title_@item.Id" name="title" class="form-control" required value="@item.Title" />
                </div>
                    <div class="mb-0">
                        <label class="mb-1 small text-muted" for="formDateTime">Date & Time</label>
                        <input type="datetime-local" id="datetime_@item.Id" name="DateCreated" class="form-control" required value="@item.DateCreated.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary-soft text-primary" type="submit">Save Changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

    
}
