@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<partial name="_NewNavbar"/>
<div id="layoutSidenav">
    <partial name="_NewSidenav"/>
        <div id="layoutSidenav_content">
            <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-xl px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="user"></i></div>
                                            Change your account settings
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    

                    <div class="container-xl px-4 mt-4">
                        <partial name="_ManageNav" />
                        <hr class="mt-0 mb-4" />
                        @RenderBody()
                    </div>
                    
             </main>
                
             <partial name="_NewFooter" />
        </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
