@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="bg-img-cover" style="background-image: url('/new/assets/img/bg-scene.svg')">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-xl px-4">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                            <div class="card my-5 rounded-xl">
                                <div class="card-body p-5 text-center"><div class="h3 fw-light mb-0">@ViewData["Title"]</div></div>
                                <hr class="my-0" />
                                <div class="card-body p-5">
                                    <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
                                    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                                        <input asp-for="RememberMe" type="hidden" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                                            <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                                            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                                        </div>
                                        <div class="checkbox mb-3">
                                            <label asp-for="Input.RememberMachine" class="form-label">
                                                <input asp-for="Input.RememberMachine" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                                            </label>
                                        </div>
                                        <div>
                                            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                                        </div>
                                    </form>
                                    <p>
                                        Don't have access to your authenticator device? You can
                                        <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <partial name="_NewFooterV2" />
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}