@model IEnumerable<Sample>

<!-- Create Attendance Record modal-->
<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGroupModalLabel">Create New</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" asp-controller="Samples" asp-action="Create" method="post">
            <div class="modal-body"> 
                <div class="mb-2">
                    <label class="mb-1 small text-muted" for="formGroupName">Student No.</label>
                    <input type="text" id="code" name="code" class="form-control" placeholder="e.g TUPM-00-12345" required />
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label class="mb-1 small text-muted" for="formGroupName">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" placeholder="e.g Juan" required />
                    </div>
                    <div class="col-4">
                        <label class="mb-1 small text-muted" for="formGroupName">Middle Name</label>
                        <input type="text" id="middleName" name="middleName" class="form-control" placeholder="e.g Pedro" required />
                    </div>
                    <div class="col-4">
                        <label class="mb-1 small text-muted" for="formGroupName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="e.g Dela Cruz" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="mb-1 small text-muted" for="formGroupName" aria-label="Default select example">Sex</label>
                        <select id="sex" name="sex" class="form-select" required>
                            <option value="" disabled selected>-- Select Sex --</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="mb-1 small text-muted" for="formDate">Birth Date</label>
                        <input type="date" id="birthDate" name="birthDate" class="form-control" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="mb-1 small text-muted" for="formGroupName" aria-label="Default select example">Department</label>
                        <select id="department" name="department" class="form-select" required>
                            <option value="" disabled selected>-- Select Department --</option>
                            <option value="0">CIT</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="mb-1 small text-muted" for="formGroupName">Course</label>
                        <input type="text" id="course" name="course" class="form-control" placeholder="e.g BET-ET" required />
                    </div>
                </div>
                <div class="mb-2">
                    <label class="mb-1 small text-muted" for="formGroupName">Student Profile (<code>.png</code> & <code>.jpg</code> only)</label>
                    <input type="file" id="coverImage" name="coverImage" class="form-control" accept="image/png, image/jpeg" required onChange="document.getElementById('CoverImagePrv').src = window.URL.createObjectURL(this.files[0])" />
                </div>
                <div class="mb-2 text-center">
                    <img id="CoverImagePrv" class="img-account-profile rounded-circle" src="~/profile/no-image.jpg" alt="Student Profile" />
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger-soft text-danger" data-bs-dismiss="modal">Cancel</a>
                <button class="btn btn-primary-soft text-primary" type="submit">Create</button>
            </div>
            </form>
        </div>
    </div>
</div>


