@{
    ViewData["Title"] = "Home Page";
    ViewData["ActivePage"] = ManageSidebar.Home;
}

<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">

            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>